---
layout: page
---	  
<article>



<p>The {{ site.data.conference.instance }} {{ site.data.conference.styling }} {{site.data.conference.full_name }} will be hosted at {{ site.data.conference.venue }}, {{ site.data.conference.location }}.
</p>


<br>
<br>

<p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.5602299411094!2d-0.13455590542647813!3d51.52588547526197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b25f3c7ff37%3A0x562c0988bd54e706!2sThe%20Wellcome%20Trust%2C%20183-193%20Euston%20Rd.%2C%20London%20NW1%202BE!5e1!3m2!1sen!2suk!4v1739981765674!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
</article>

