---
layout: page
---	  
<article>



<p>The {{ site.data.conference.instance }} {{ site.data.conference.styling }} {{site.data.conference.full_name }} will be hosted at {{ site.data.conference.venue }}, {{ site.data.conference.location }}.
</p>
  
<p>
  The Exchange is located in Centenary Square, directly opposite the Library of Birmingham. It is a 10-15 minute walk from New Street Station and a 15-20 minute walk from Snow Hill Station. Moor Street Station and Five Ways are further away but still within walking distance (within 1 mile). There are also bus and tram stops directly in front of the building.
</p>

<p>
  If travelling by car, please be advised that The Exchange is located inside Birmingham's <a href="https://www.gov.uk/clean-air-zones">clean air zone</a>.
</p>

<p>
  A full guide to accessing the venue can be found <a href="https://www.birmingham.ac.uk/the-exchange/plan-your-visit">here</a>.
</p>


<br>
<br>

<p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9720.134762541116!2d-1.9077552!3d52.4785257!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bdde2732cf03%3A0x35101faddd8fb763!2sThe%20Exchange!5e0!3m2!1sen!2suk!4v1730636094090!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</p>
</article>

